body {
  font-family: sans-serif;
}

#episodes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.episode-title {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.episode-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.episode-people {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.star-wars-players {
  font-size: 14px;
  color: blue;
}

.crawl {
  font-style: italic;
  margin-top: 10px;
}