body {
  font-family: sans-serif;
}

#episodes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.episode-title {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.episode-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.episode-people {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.star-wars-players {
  font-size: 14px;
  color: blue;
}

.button {
  width: 200px;
  border-radius: 5px;
  border: 3px solid deepskyblue;
  background-color: white;
  color: #373c3f;
  font-weight: bold;
  cursor: pointer;
}

.crawl {
  font-style: italic;
  margin-top: 10px;
}

.starships {
  font-size: 15px;
  color: #1e15a0;
  font-family: Verdana, sans-serif;
}

.error-text {
  font-size: 30px;
  color: red;
  margin: 0 auto;
}
















