@media (min-width: 361px) and  (max-width: 640px) {

  .all-content {
  max-width: 640px;
  }

  .container {
    width: calc(100% - 70px);
  }

  .header {

    &__checkbox:checked ~ .header__icon > .header__icon-stick--top {
      margin-top: 10px;
    }

    &__checkbox:checked ~ .header__icon > .header__icon-stick--bottom {
      margin-top: -7px;
    }

    &__menu-wrapper {
      top: 74px;
    }

    &-text {
      font-size: 24px;
      padding: 23px 0 27px 19px;
    }

    &__icon {
      min-width: 66px;
      min-height: 61px;

      &-stick {
        width: 41px;
        height: 4px;

        &--top {
          top: 25px;
          left: 19px;
        }

        &--middle {
          top: 34px;
          left: 19px;
        }

        &--bottom {
          top: 43px;
          left: 19px;
        }
      }
    }
  }

  .about-us {
    font-size: 36px;
    background-size: cover;
    height: 346px;
    border-bottom: 2px solid white;

    &-link {
      color: #a6d6e0;
      padding-left: 4px;
      font-size: 24px;
      letter-spacing: 0.3px;
    }

    &-title {
      padding: 34px 4px 0;
      &:nth-child(2) {
        padding: 14px 4px
      }
    }
  }
  .menu-props-container .item1 {
    background-position: 1px 253px;
    background-size: cover;
  }

  .menu-props-container-item {
    width: 500px;
    padding: 56px 2px;

    &-name {
      font-size: 36px;
    }

    &-details {
      width: 142px;
      height: 150px;

      &:after {
        content: '>';
        color: white;
        position: absolute;
        font-size: 36px;
        top: 56px;
        left: 64px;
      }
    }
  }
  .menu-props-container .item2 {
    background-position: 1px 253px;
    background-size: cover;
  }
  .menu-props-container .item3 {
    background-position: 1px 468px;
    background-size: cover;
  }

  .sup-signature {
    font-size: 40px;
    margin: 40px 7px 20px 16px;
  }

  .sub-signature {
      font-size: 20px;
      margin: 0 7px 20px 16px;
      display: inline-block;

  }

  .menu__position-title-text {
    font-size: 40px;
    padding: 16px 38px;
  }

  .menu__position-header {
      font-size: 30px;
      padding: 34px 2px;

  }

  .menu__position .header2 {
    padding: 28px 2px;

  }


  .menu__position-name {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.1px;
  }

  .menu__position-description {
    font-size: 18px;
    padding: 14px 0 16px;
  }

  .menu__position-price {
    font-weight: 600;
    font-size: 26px;
  }

  .menu__position-title-inverse-text {
    font-size: 40px;
    padding: 18px 38px;
  }

  .footer {
    padding: 18px 0;
    margin-top: 88px;
  }

  .footer-text {
    font-size: 24px;
    padding: 6px;

  }

}

@media (min-width: 641px) and (max-width: 980px) {

  .all-content {
    max-width: 980px;
  }

  .container {
    width: calc(100% - 140px);
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: none;
    }

    &__icon {
      display: none;
    }


    &__menu-wrapper {
      display: inline-block;
      position: unset;
      background-color: #373c3f;

      &-container {
        flex-direction: row;
        padding-left: 30px;
      }

      &-container-item {
        border: none;
        padding: 20px 15px 20px 0;
        color: #bbbcbd;
        font-size: 14px;
        text-transform: uppercase;
      }
    }


    &__logo {
      display: inline-block;
      background-image: url("../img/logo.png");
      width: 104px;
      height: 83px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 25px;
    }

  }

  .about-us {
    font-size: 54px;
    background-size: cover;
    height: 540px;
    border-bottom: 2px solid white;

    &-link {
      color: #a6d6e0;
      padding-left: 8px;
      font-size: 34px;
    }

    &-title {
      padding: 68px 8px 0;
      &:nth-child(2) {
        padding: 28px 8px
      }
    }
  }

  .menu-props {
    display: flex;


    &-container {
      border-bottom: none;
      width: 100%;

      &-item {
        width: 100%;
        height: 327px;
        background-position: 1px 0;
        background-repeat: no-repeat;
        background-size: cover;

        &-name {
          font-size: 38px;
          margin: 132px 0;
        }

      }

      & .item1 {
        background-position: 0px -2px;
      }& .item2 {
        background-position: -1px -2px;
      }& .item3 {
        background-position: -1px -2px;
      }


      &-item-details {
        display: none;
      }
    }
    }

  .signatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sup-signature {
    font-size: 40px;
    margin: 60px 14px 0 32px;
    position: unset;
  }

  .sub-signature {
    font-size: 40px;
    margin: 0 14px 40px 32px;
    display: inline-block;
    position: unset;
  }

  .logo-menu {
    background-image: url("../img/logo-menu.png");
    width: 150px;
    height: 89px;
    display: inline-block;
    margin-right: 20px;
    background-repeat: no-repeat;
  }

  .menu__position {
    display: flex;

    &-title-text {
      font-size: 34px;
      padding: 30px 38px;
    }
    &-title-inverse {
      margin-top: 0;
      &-text {
        font-size: 34px;
        padding: 30px 38px;
      }
    }
    &-header {
      font-size: 30px;
      padding: 34px 2px;

    }

    &-name {
      font-size: 19px;
      font-weight: 600;
      letter-spacing: 0.1px;
    }
    &-description {
      font-size: 11px;
      padding: 14px 0 16px;
    }
    &-price {
      font-weight: 600;
      font-size: 19px;
    }
  }

  .menu__position .header2 {
    padding: 28px 2px;
  }
  .menu__position .header3 {
    padding: 28px 2px;
  }


  .footer {
    padding: 18px 0;
    margin-top: 88px;
    display: flex;
    justify-content: space-between;


    &__logo {
      display: inline-block;
      background-image: url("../img/logo.png");
      width: 104px;
      height: 83px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 25px;
    }

    &-text {
      font-size: 20px;
      padding: 6px;
      display: inline-block;
    }

    &-container {
      display: flex;
      align-self: center;
      margin-right: 10px;
    }
  }


  }


@media (min-width: 981px) {

  .all-content {
    max-width: 1200px;
  }

  .container {
    width: calc(100% - 200px);
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: none;
    }

    &__icon {
      display: none;
    }


    &__menu-wrapper {
      display: inline-block;
      position: unset;
      background-color: #373c3f;

      &-container {
        flex-direction: row;
        padding-left: 35px;
      }

      &-container-item {
        border: none;
        padding: 20px 15px 20px 0;
        color: #bbbcbd;
        font-size: 15px;
        text-transform: uppercase;
      }
    }


    &__logo {
      display: inline-block;
      background-image: url("../img/logo.png");
      width: 104px;
      height: 83px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 25px;
    }

  }

  .about-us {
    font-size: 54px;
    background-size: cover;
    height: 649px;
    border-bottom: 2px solid white;

    &-link {
      color: #a6d6e0;
      padding-left: 8px;
      font-size: 34px;
    }

    &-title {
      padding: 68px 8px 0;
      &:nth-child(2) {
        padding: 28px 8px
      }
    }
  }

  .menu-props {
    display: flex;


    &-container {
      border-bottom: none;
      width: 100%;

      &-item {
        width: 100%;
        height: 400px;
        background-position: 1px 0;
        background-repeat: no-repeat;
        background-size: cover;

        &-name {
          font-size: 38px;
          margin: 132px 0;
        }

      }

      & .item1 {
        background-position: 1px -2px;
      }& .item2 {
         background-position: -1px -2px;
       }& .item3 {
          background-position: -1px -2px;
        }


      &-item-details {
        display: none;
      }
    }
  }

  .signatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }

  .sup-signature {
    font-size: 40px;
    margin: 60px 14px 0 32px;
    position: unset;
  }

  .sub-signature {
    font-size: 40px;
    margin: 0 14px 40px 32px;
    display: inline-block;
    position: unset;
  }

  .logo-menu {
    background-image: url("../img/logo-menu.png");
    background-size: cover;
    width: 170px;
    height: 141px;
    display: inline-block;
    margin-right: 20px;
    background-repeat: no-repeat;
  }

  .menu__position {
    display: flex;

    &-title-text {
      font-size: 34px;
      padding: 35px 40px;
    }
    &-title-inverse {
      margin-top: 0;
      &-text {
        font-size: 34px;
        padding: 35px 40px;
      }
    }
    &-header {
      font-size: 30px;
      padding: 34px 2px;

    }

    &-name {
      font-size: 19px;
      font-weight: 600;
      letter-spacing: 0.1px;
    }
    &-description {
      font-size: 11px;
      padding: 14px 0 16px;
    }
    &-price {
      font-weight: 600;
      font-size: 19px;
    }
  }

  .menu__position .header2 {
    padding: 28px 2px;
  }
  .menu__position .header3 {
    padding: 28px 2px;
  }

  .menu__position .icon4 {
    position: unset;
  }




  .footer {
    padding: 18px 0;
    margin-top: 88px;
    display: flex;
    justify-content: space-between;


    &__logo {
      display: inline-block;
      background-image: url("../img/logo.png");
      width: 104px;
      height: 83px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 25px;
    }

    &-text {
      font-size: 20px;
      padding: 6px;
      display: inline-block;
    }

    &-container {
      display: flex;
      align-self: center;
      margin-right: 10px;
    }
  }

}