body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: calc(100% - 35px);
  margin: 0 auto;
}

.all-content {
  max-width: 320px;
  margin: 0 auto;
}

.header {
  background-color: #373c3f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__log {
    display: none;
  }

  &-text {
    color: white;
    font-size: 13px;
    padding: 10px 0 13px 19px;
    letter-spacing: 0.5px;
    font-family: sans-serif;
  }

  &__checkbox {
    display: none;
  }

  &__icon {
    position: relative;
    min-width: 24px;
    min-height: 25px;
    order: 10;
    background-color: #202529;
    padding: 5px 8px 5px;

    &-stick--top {
      top: 11px;
      left: 13px;
    }

    &-stick--middle {
      top: 15px;
      left: 13px;
    }

    &-stick--bottom {
      top: 19px;
      left: 13px;
    }

    &-stick {
      position: absolute;
      width: 15px;
      height: 2px;
      background-color: white;
      transition: all 0.3s;
    }
  }

  &__checkbox:checked ~ .header__menu-wrapper {
    transform: translateX(-300px);
    display: inline-block;
  }

  &__checkbox:checked ~ .header__icon > .header__icon-stick--top {
    transform: rotate(135deg);
    margin-top: 4px;
  }
  &__checkbox:checked ~ .header__icon > .header__icon-stick--middle {
    transform: translateX(-12px);
    opacity: 0;
  }
  &__checkbox:checked ~ .header__icon > .header__icon-stick--bottom {
    transform: rotate(-135deg);
    margin-top: -4px;
  }

  &__menu-wrapper {
    position: absolute;
    top: 37px;
    right: -300px;
    display: none;
    background-color: white;

    &-container {
      display: flex;
      flex-direction: column;

      &-item {
        border-bottom: 1px solid #f0f0f0;
        padding: 10px 84px 10px 24px;
        color: rgba(68, 68, 68, 255);
        font-size: 12px;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}
.about-us {
  background-image: url("../img/header-bg.png");
  width: 100%;
  color: white;
  font-size: 16px;
  height: 174px;
  border-bottom: 4px solid white;

  &-title {
    padding: 17px 4px 0;
    font-weight: 600;

    &:nth-child(2) {
      padding: 7px 4px;
    }
  }
  &-link {
    color: rgba(166, 214, 224, 255);
    padding-left: 4px;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
}

.menu-props {
  width: 100%;

  &-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;

    &-item {
      width: 250px;
      display: flex;
      padding: 24px 2px;;
      justify-content: center;

      &-name {
        font-size: 20px;
        font-weight: 700;
        color: white;
      }

      & .name1 {
        position: relative;
        top: 1px;
        left: 2px;
      }

      & .name2 {
        position: relative;
        top: 3px;
        left: 12px;
      }

      & .name3 {
        position: relative;
        top: 2px;
        left: -2px;
      }

      &-details {
        width: 70px;
        height: 74px;
        background-color: #acd8ad;
        position: relative;

        &::after {
          content: '>';
          color: white;
          position: absolute;
          font-size: 22px;
          top: 22px;
          left: 27px;
        }
      }

    }
    & .item1 {
      background-image: url("../img/Pizza_delivery.png");
      background-position: -20px 86px;
    }

    & .item2 {
      background-image: url("../img/UA_UX_Salads.png");
      background-position: 1px 86px;
    }

    & .item3 {
      background-image: url("../img/Desserts.png");
      background-position: 1px 224px;
    }
  }
}
.sup-signature {
  text-transform: uppercase;
  color: #373c3f;
  font-size: 20px;
  margin: 20px 7px 0 8px;
}
.sub-signature {
  color: rgba(203, 204, 206, 255);
  font-size: 10px;
  position: relative;
  left: 2px;
  bottom: 2px;
  margin: 20px 7px 0 8px;
}

.logo-menu {
  display: none;
}

.menu__position {
  margin-top: 9px;

  &-title {
    background: #373c3f;
    width: 100%;

    &-text {
      color: #acd8ad;
      font-size: 20px;
      text-transform: uppercase;
      padding: 8px 19px;
    }
  }
  &-header {
    font-size: 15px;
    color: #373c3f;
    text-transform: uppercase;
    display: inline-block;
    padding: 17px 1px;

  }

  & .header2 {
    padding: 14px 1px;
  }

  & .header3 {
    padding: 13px 1px;
  }

  & .icon2 {
    bottom: 2px;
    position: relative;
    right: 5px;
  }

  & .icon3 {
    position: relative;
    left: 3px;
    top: 1px;
  }

  & .icon4 {
    position: relative;
    top: -2px;
    left: -4px;
  }

  &-name {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
    letter-spacing: 0.1px;
  }

  &-description {
    font-size: 9px;
    padding: 7px 0 8px;
    letter-spacing: 0.14px;
  }


  &-title-inverse {
    background: #acd8ad;
    width: 100%;
    margin-top: 25px;

    &-text {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      padding: 9px 19px;
    }
  }
}

.footer {
  background: #acd8ad;
  width: 100%;
  text-align: center;
  padding: 9px 0;
  margin-top: 44px;

  &__logo {
    display: none;
  }

  &-text {
    font-size: 12px;
    color: white;
    position: relative;
    padding: 3px;
    letter-spacing: 0.8px;
    top: 1px;
    right: -4px;
  }
}

.header-icon-name-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


@import "media";
